div{
    margin: 0 auto;
    text-align: center;
    width: 600px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.div1{
    border-bottom: solid 2px;
    border-color: #F7A156;
}

.img1{
    width: 200px;
}

a{
    padding: 12px;
    color: black;
}

.sub1{
    color: #F7A156;
}

.img2, .img3, .img4{
    width: 600px;
}

.div3{
    margin-top: 20px;
    background-color: #F7A156;
    color: white;
    font-size: small;
    padding: 5px;
}

.p1{
    padding-left: 50px;
    padding-right: 50px;
}

.img3, .img4{
    width: 300px;
    padding-bottom: 20px;
}


